html {
  font-family: system-ui;
  margin-bottom: 50px;
}

main {
  margin: 0 200px;
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
}

#more-posts {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }
}
